@import './breakpoints.css';

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #E5E8EB url('/src/assets/images/textured-mulberry-paper.webp');
  background-size: 50%;
}


h1,h2,h3,h4,h5 {
  margin: 0px;
}

h1.fancy {
  text-align: center;
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 1em;
}

p {
  margin: 0px;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  background: rgb(0,0,0);
  flex-shrink: 1;
}

header nav {
  display: flex;
  flex-direction: row;
}

header nav a {
  padding: 24px;
  color: rgb(255,255,255);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
header nav a.active {
  background: rgba(255,255,255,0.2)
}

ul {
  margin: 0px;
  padding-left: 32px;
}
li {
  padding-bottom: 2px;
}

.bttn {
  border-radius: 999px;
  padding: 12px 32px;
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  align-self: flex-start;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  &.l-icon {
    padding-left: 14px
  }
  &:hover {
    text-decoration: underline;
  }
} 

.disclaimer {
  background: rgb(255,255,0);
  color: rgba(0,0,0,0.8);
  border: solid 1px rgba(0,0,0,0.1);
  border-bottom: solid 1px rgba(0,0,0,0.4);
  border-right: solid 1px rgba(0,0,0,0.2);
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
}

div.content_wrap {
  height: 100%;
  width: 100%;
  overflow: auto;
}
div.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

article {
  background: rgb(255,255,255);
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (--small-only) {
}
@media (--medium-up) {
  div.content_wrap {
    padding: 32px;
  }
  article {
    width: 1000px;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.5);
  }
}

.view_counter_wrap {
  display: flex;
  justify-content: center;
  .view_counter {
    background: rgb(0,0,0);
    color: rgb(255,255,255);
    padding: 8px 16px;
    border-radius: 999px;
    margin: 16px;
    display: flex;
    gap: 8px;
  }
  button {
    background: rgb(255,255,255);
    color: rgb(0,0,0);
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    &:hover {
      background: rgb(200,200,200);
    }
  }
}