@import './../breakpoints.css';

body[location='resume'] {
  section.header {
    text-align: center;
    padding-bottom: 12px;

    p {
      display: flex;
      gap: 8px;
      font-size: 2px;
    }
  }

  section {
    h2 {
      border-bottom: solid 1px rgb(89, 13, 13);
      padding: 8px 0px;
      font-size: 16px;
      text-transform: uppercase;
    }

    h3 {
      font-size: 16px;
    }
  }

  .item {
    padding: 0px;
  }

  .item_heading {
    display: flex;

    .info,
    .details {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .info {
      p {
        font-size: 14px;
      }
    }

    .duration {
      font-weight: bold;
      font-size: 12px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .location {
      font-size: 6px;
    }

    .details {
      font-style: italic;
    }
  }
}

@media (--small-only) {
  body[location='resume'] {
    section.header {
      p {
        flex-direction: column;

        span.bull {
          display: none;
        }
      }
    }

    .item_heading {
      flex-direction: column;

      .details {
        flex-direction: row !important;
        justify-content: space-between;
        padding: 12px 0px;
      }
    }
  }
}

@media (--medium-up) {
  body[location='resume'] {
    section.header {
      p {
        flex-direction: row;
        justify-content: center;

        br {
          display: none;
        }
      }
    }

    .item_heading {
      flex-direction: row;
      justify-content: space-between;

      .details {
        text-align: right;
      }
    }
  }
}