name: Destroy Cloud Resume Challenge
run-name: >
  Destroy ${{ github.event.inputs['cloud-provider'] }} stack by ${{ github.actor }} on ${{ github.ref_name }}

on:
  workflow_dispatch:
    inputs:
      cloud-provider:
        description: "Target cloud provider"
        required: true
        type: choice
        options:
          - aws
          - gcp
          - azure

permissions:
  id-token: write      # needed for OIDC
  contents: read       # needed for checkout / Terraform

jobs:
  terraform-destroy:
    name: Destroy
    uses: subhamay-bhattacharyya-gha/terraform-destroy-wf/.github/workflows/terraform-destroy.yaml@feature/GHA-0028-add-multi-cloud-support
    with:
      cloud-provider: ${{ github.event.inputs['cloud-provider'] }}
      backend-type: remote
      aws-region: ${{ vars.AWS_REGION }}
    secrets:
      tfc-token: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}
      aws-role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}