name: Deploy Cloud Resume Challenge
run-name: >
  Deploy to ${{ github.event.inputs['cloud-provider'] }} by ${{ github.actor }} on ${{ github.ref_name }}

on:
  workflow_dispatch:
    inputs:
      cloud-provider:
        description: "Target cloud provider"
        required: true
        type: options
        options:
          - aws
          - gcp
          - azure

permissions:
  id-token: write      # needed for OIDC
  contents: read       # needed for checkout / Terraform

# concurrency:
#   group: deploy-${{ github.ref }}
#   cancel-in-progress: false

# defaults:
#   run:
#     shell: bash

jobs:
  start-job:
    name: Start Job
    runs-on: ubuntu-latest
    steps:
      - name: Set Deploy Job Status
        id: set-deploy-job-status
        run: |
          echo "deploy-job-status=started" >> $GITHUB_OUTPUT

  terraform-deploy-aws:
    name: Deploy to AWS
    needs: start-job
    uses: subhamay-bhattacharyya-gha/tf-deploy-multi-reusable-wf/.github/workflows/terraform-deploy.yaml@feature/GHA-0011-add-tflint-in-the-workflo
    if: ${{ github.event.inputs['cloud-provider'] == 'aws' }}
    with:
      cloud-provider: aws
      tflint-ver: ${{ vars.TF_LINT_VER }}
      backend-type: remote
      aws-region: ${{ vars.AWS_REGION }}
      tf-vars-file: terraform.tfvars
    secrets:
      tfc-token: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}
      aws-role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}

  terraform-deploy-gcp:
    name: Deploy to GCP
    needs: start-job
    uses: subhamay-bhattacharyya-gha/tf-deploy-multi-reusable-wf/.github/workflows/terraform-deploy.yaml@feature/GHA-0011-add-tflint-in-the-workflo
    if: ${{ github.event.inputs['cloud-provider'] == 'gcp' }}
    with:
      cloud-provider: gcp
      tflint-ver: ${{ vars.TF_LINT_VER }}
      backend-type: remote
      tf-vars-file: terraform.tfvars
    secrets:
      tfc-token: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}
      gcp-wif-provider: ${{ secrets.GCP_WIF_PROVIDER }}
      gcp-service-account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

  terraform-deploy-azure:
    name: Deploy to Azure
    needs: start-job
    uses: subhamay-bhattacharyya-gha/tf-deploy-multi-reusable-wf/.github/workflows/terraform-deploy.yaml@feature/GHA-0011-add-tflint-in-the-workflo
    if: ${{ github.event.inputs['cloud-provider'] == 'azure' }}
    with:
      cloud-provider: azure
      tflint-ver: ${{ vars.TF_LINT_VER }}
      backend-type: remote
      tf-vars-file: terraform.tfvars
    secrets:
      tfc-token: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}
      azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
      azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
      azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  finalize-deploy-job:
    name: Finalize Deploy Job
    needs:
      - terraform-deploy-aws
      - terraform-deploy-gcp
      - terraform-deploy-azure
    runs-on: ubuntu-latest
    steps:
      - name: Set Deploy Job Status
        id: set-deploy-job-status
        run: |
          echo "deploy-job-status=completed" >> $GITHUB_OUTPUT


